.root {
  background-color: var(--color-stroke-warning-weak);
  width: calc(100% + 2 * var(--space-md));
  margin-left: calc(-1 * var(--space-md));
  margin-right: calc(-1 * var(--space-md));
  margin-top: calc(-1 * var(--space-md-fixed));
  border-top: 1px solid var(--color-stroke-01);
  border-bottom: 1px solid var(--color-stroke-warning-weak);
  margin-bottom: var(--space-md-fixed);

  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-2lg);
}

.icon {
  color: var(--icon-warning);
  width: 24px;
  height: 24px;
  > path {
    stroke-width: 1px;
  }
}
