.newWalletDetectedContainer {
  display: flex;
  gap: 12px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--color-tertiary-400);
  color: var(--color-neutral-800);
}

.verifyText {
  font-weight: var(--bold);
}

.infoIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.infoIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-neutral-800);
}

.infoTextContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.walletContainer {
  display: flex;
  padding: 9px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-stroke-01);
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-neutral-700);
}

.noWallet {
  color: var(--color-neutral-500);
}

.activeWallet {
  color: var(--color-success-300);
}

.inputLikeContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.setActiveWalletContainer {
  display: flex;
  gap: 6px;
}

.setConnectedWalletInput {
  flex: 1;
}

.setButton {
  min-width: 120px;
}

.walletIcon {
  width: 18px;
  height: 18px;
  fill: var(--color-neutral-400);
}

.label {
  font-weight: var(--semibold);
  color: var(--color-neutral-400);
}

.loadingSpinner {
  font-size: var(--text-xs);
}
