.loadingSpinner {
  margin: var(--space-3xl) 0;
}

.banner {
  width: calc(100% + 2 * var(--space-md));
  margin-left: calc(-1 * var(--space-md));
  margin-right: calc(-1 * var(--space-md));
  margin-top: calc(-1 * var(--space-md-fixed));
  margin-bottom: var(--space-md-fixed);
}
